*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    display: flex;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
    background-color: #f9f5f5;
  }
  
  .App-header {
    color: #ffffff;
    padding: 20px;
    flex: 0 0 200px;
    position: relative;
  }
  
  .hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
    color: #000;
  }
  
  .sidebar {
    background-color: #102C57;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    transition: left 0.3s ease;
    padding-top: 100px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
    color: #EADBC8;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
  }

  .sidebar-open .main-content {
    margin-left: 200px;
  }

  .sideName ul li a{
       text-decoration: none;
       color: #EADBC8;
       padding-left: 10px;
  }

  .sideName ul li:hover{
    border: 1px solid #EADBC8;
    margin-right: 5px;
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  
  }
  .nameTop p{
       margin-top: -70px; 
       padding-left: 20px;
       margin-bottom: 60px;
       color: #EADBC8;
      padding-bottom: 20px;
       border-bottom: 1px solid #EADBC8;
  }
  .content{
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    
  }
  .add{
    padding: 20px;
    width: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-left: -120px;
    background-color: #EADBC8;
    color: #102C57;
  }

  .add a{
    text-decoration: none;
    color: #1a4b95;
  }
.add a:hover{
    color: #ffffff;
}

  .space{
    height: 10%;
  }

  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f5f5;
    margin-left: -30px;
  }

  .item{
    margin-top:10px;
    margin-left: -50px;
    margin-right: -200px;
    display: flex;
  }

.side{
  display: flex;
  flex-direction: column;
}
.ar img{
  margin-left: 100px;

}

.ar{
    border: 1px solid #EADBC8;
    margin-right: 5px;
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  
}

.das img{
margin-left: 135px;
}
.his img{
  margin-left: 160px;
}
.logout{
    text-decoration: none;
    color: #ffffff;
    margin-top: 440px;
    text-align: center;
   border: 1px solid #EADBC8;
   border-radius: 10px;
   margin-right: 10px;
   margin-left: 10px;
   background-color: #102C57;
}

.logout button{
  background-color: #102C57;
  border: none;
}

.navbar button{
    color: white;
    text-decoration: none;
    background-color: red;
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
}

.navbar p{
    color: #000;
    margin-left: -50px;
    font-size: 30px;
    margin-right: -100px;
}
.category{
  margin-top: 20px;
  display: flex;
}
.category-title{
  margin-top: 30px;
  margin-left: -40px;
  display: flex;
}
.category-title p{
   margin-right: 340px;
}
.addCnS{
  background-color: #102C57;
  color: #EADBC8;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
}

.categoryBox{
  width: 400px;
  height: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  margin-left: -50px;
  margin-right: 100px;

}
.categoryIsi{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.ctgry{
  padding: 15px;
  color: #000;
  border-radius: 5px;
}